# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Summary directory
summaries/
summaries1/
XX/
pybullet/

# Pycharm coding style
.idea/